:root {
    --bgDarkBlue: #002650;
    --bgLightBlue: #3b58a7;

    --listDarkBlue: #1e3f68;
    --listLightBlue: #3c5894;

    --grayBlue: #8092a7;
    --activeBlue: #39577f;
    --placeholderColor: #b7c1cd;
    --red: #7b3b55;

    --spacingExtraSmall: 0.5rem;
    --spacingSmall: 1rem;
    --spacingDefault: 2rem;
    --spacingLarge: calc(30 / 13)rem;

    --fontFamily: 'Open Sans', sans-serif;

    --fontSizeMobile: 13px;
    --fontSizeTablet: 15px;
    --fontSizeDesktop: 17px;

    --baseSize: 13;

    --fontSizeRegular: 1rem;
    --fontSizeMedium: calc(20 / var(--baseSize))rem;

    --itemSize: calc(54 / var(--baseSize))rem;
    --iconSize: calc(17 / var(--baseSize))rem;

    --radius: calc(4 / var(--baseSize))rem;

    --tabletMaxWidth: 900px;
    --contentWidth: 800px;
}

@custom-media --desktop (width > 800px);
@custom-media --tabletOnly (width > 480px) and (width < 800px);
@custom-media --tabletMax (width < 800px);
@custom-media --mobile (width <= 480px);