:root {
    --darkBlue: #002650;
    --lightBlue: #3b58a7;
    --grayBlue: #8092a7;
    --placeholderColor: #b7c1cd;

    --spacingDefault: 2rem;
    --spacingLarge: calc(30 / 13)rem;

    --fontFamily: 'Open Sans', sans-serif;

    --fontSizeMobile: 13px;
    --fontSizeTablet: 15px;
    --fontSizeDesktop: 17px;

    --baseSize: 13;

    --fontSizeRegular: 1rem;
    --fontSizeMedium: calc(20 / var(--baseSize))rem;

    --itemHeight: calc(54 / var(--baseSize))rem;

    --radius: calc(4 / var(--baseSize))rem;

    --tabletMaxWidth: 900px;
}

@custom-media --desktop (width > 900px);
@custom-media --tablet-only (width > 480px) and (width < 900px);
@custom-media --mobile (width <= 480px);