@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import 'config.css';

:global {
    html {
        min-height: 100%;
        background: linear-gradient(var(--darkBlue), var(--lightBlue));

        @media (--desktop) {
            font-size: var(--fontSizeDesktop);
        }
        @media (--tablet-only) {
            font-size: var(--fontSizeTablet);
        }
        @media (--mobile) {
            font-size: var(--fontSizeMobile);
        }
    }
    body {
        margin: 0;
        font-family: var(--fontFamily);
    }
    input {
        font-family: var(--fontFamily);
    }
}