@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import 'config.css';

:global {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    html {
        min-height: 100%;
        background: linear-gradient(var(--bgDarkBlue), var(--bgLightBlue));

        @media (--desktop) {
            font-size: var(--fontSizeDesktop);
        }
        @media (--tabletOnly) {
            font-size: var(--fontSizeTablet);
        }
        @media (--mobile) {
            font-size: var(--fontSizeMobile);
        }
    }
    body {
        margin: 0;
        font-family: var(--fontFamily);
    }
    input {
        font-family: var(--fontFamily);
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    p {
        margin: 0;
    }
}