@import 'styles/config.css';

.root {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 1px;
    background: inherit;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);

    ul {
        padding: var(--spacingExtraSmall) 0;
    }
    li {
        padding: 0 var(--spacingSmall);
        color: inherit;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
}

.active-item {
    background: var(--listDarkBlue);
}