@import 'styles/config.css';

.root {
    max-width: var(--contentWidth);
    margin: 0 auto var(--spacingLarge);

    @media (--tabletMax) {
        padding: 0 var(--spacingLarge);
    }
}

.box {
    position: relative;
    display: flex;
    height: var(--itemSize);
    background-color: var(--grayBlue);
    color: #fff;

    input {
        flex-grow: 1;
        height: 100%;
        width: 100%;
        padding: 0;
        padding-right: var(--spacingDefault);
        margin: 0;
        color: inherit;
        background: transparent;
        outline: none;
        border: none;
        font-size: var(--fontSizeMedium);
    }
    input::placeholder {
        color: var(--placeholderColor);
    }
}

.box-with-autocomplete {
    composes: box;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.box-without-autocomplete {
    composes: box;
    border-radius: var(--radius);
}

.icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: calc(var(--spacingDefault) * 2);

    img {
        height: calc(17 / var(--baseSize))rem;
    }
}