@import 'styles/global.css';

.root {
    h3 {
        text-align: center;
    }
}

header {
    height: calc(155 / var(--baseSize))rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: calc(34 / var(--baseSize))rem;
    }
}